@model Domain.App.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salon!.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker!.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAppointmentStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAppointmentStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAppointmentEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAppointmentEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
